.error{
    background-image: url(../images/error.jpeg);
    /* background:linear-gradient(to bottom, rgba(160, 154, 154, 0) 20%, rgba(0,0,0,1)), url(https://watermark.lovepik.com/photo/40008/0007.jpg_wh1200.jpg); */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 